@model IEnumerable<ElevenNote.Web.Models.ExpandedUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br />

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit Roles", "ViewAllRoles", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { UserName = item.UserName }) |
            @if ((item.UserName.ToLower() != this.User.Identity.Name.ToLower()))
                {
                @Html.ActionLink("Delete", "DeleteUser", new { UserName = item.UserName },
                    new { onclick = "return confirm('Are you sure you wish to delete this user?');" })
            }
        </td>
    </tr>
}

</table>
